$padding: 8px;
$margin: 8px;

$radius: 4px;

$mainTextColor: #2c3e50;
$linkToCart: #B0BEC5;

//$main-color: #B0BEC5;
$main-color: #ffff;

$primaryColor: #ef5350;
$btnTextColor: whitesmoke;

$quantityBtn: #EEEEEE;